###
# Unity folders and files
###
[Aa]ssets/AssetStoreTools*
[Bb]uild/
[Bb]uilds/
[Ee]xportedObj/
[Ll]ibrary/
[Ll]ocal[Cc]ache/
[Oo]bj/
[Pp]lugins/
[Tt]emp/
[Uu]nityGenerated/

# file on crash reports
sysinfo.txt

# Unity3D generated meta files
*.pidb.meta

# Visual Studio 2015 cache directory
.vs/

###
# VS/MD solution and project files
###
*.booproj
*.csproj
*.pdb
*.pidb
*.sln
*.suo
*.svd
*.tmp
*.unityproj
*.user
*.userprefs

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Builds
*.apk
*.unitypackage
